.datatable {
    border-collapse: collapse;
    width: 100%;
}

.datatable td,
.datatable th {
    padding: 8px;
}

.datatable tr {
    background-color: #180303;
    transition: background-color 300ms ease-out;
}

.datatable tr:nth-child(even) {
    background-color: #290505;
}

.datatable tr:hover {
    background-color: #692316;
    transition: none;
}